body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.toggler {
  display: flex;
}

.toggler__item{
  padding: 5px 20px;
  box-sizing: border-box;
  background-color: #eee;
  border: none;
  text-align: center;
}

.toggler__item.active{
  background-color: #ffcc00;
}

.form{
  display: flex;
  flex-direction: column;
}